<div ng-controller='BaseCtrl'>
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <div class='index'>
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                <!--
                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                -->
                <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">{{app}}</a>
            </div>
            
            <div ng-include="'/components/index.html'" ng-controller='DashboardCtrl' ng-if="pageHandle === 0"></div>
            <div ng-include="'/components/footer.html'"></div>

        </div>
    </div>
</div>


