<div class="card">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Customers</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{customer.name}}</td>
                            <td>{{customer.phone}}</td>
                            <td>{{customer.address}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<hr>
<div class="card">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Loan</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Store</th>
                            <th>Amount</th>
                            <th>Portions</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{loan.store}}</td>
                            <td>{{loan.amount}}</td>
                            <td>{{loan.portions}}</td>
                            <td>
                                <button class='btn btn-danger btn-sm' ng-click='deleteLoan(loan.id)'>Delete Loan</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Portions</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Portion</th>
                            <th>Due Date</th>
                            <th>Paid</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='portion in date'>
                            <td>Portion {{portion.portion}} </td>
                            <td>{{portion.date}}</td>
                            <td ng-if="portion.paid === 'true'">Paid!</td>
                            <td ng-if="portion.paid === 'false'">Not paid!</td>
                            <td><button class='btn btn-primary btn-sm' ng-if="portion.paid === 'false'" ng-click='confirmPayment(portion.portion)'>Confirm payment</button> <button class='btn btn-danger btn-sm' ng-if="portion.paid === 'true'" ng-click='cancelPayment(portion.portion)'>Cancel payment</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>